@import url('https://fonts.googleapis.com/css?family=Raleway|PT+Serif:700');
/* -------------- */
/* Reset */
/* -------------- */

/* Box Sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-font-color: #1a1a1a;
  --main-bg-color: white;
  --main-theme-color: rgb(243, 168, 47);
  --light-white: #f5f5f5;
  --light-gray: #ccc;
  --light-black: #282a39;
  --font-body-stack: Raleway, Charcoal, sans-serif;
  --font-heading-stack: 'PT Serif', sans-serif;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up body */

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--light-white);
  font-family: var(--font-body-stack);
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Picture and Images width control */
picture,
img {
  max-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Common */

.grayed {
  color: var(--light-gray);
  opacity: 0.6;
}

/* Main container */
.main-container {
  max-width: 1280px;
  margin: auto;
  padding-top: 4rem;
  /* padding-left: 4rem; */
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

/* Play Info */
.play-info {
  text-align: center;
}
.song-image {
  width: 100%;
  width: 320px;
}
.song-name-main {
  margin: 1rem 0 0.5rem 0;
}

.total-songs {
  margin-bottom: 0.8rem;
}
.play-btn-main {
  border: none;
  background-color: #1db954;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.play-btn-main:hover {
  background-color: #31ac5c;
}

/* Play Container */
.play-list {
  border: 1px solid red;
  flex: 1;
}
.play-list-item {
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.play-list-item:hover {
  background-color: rgba(44, 45, 48, 0.3);
}
.play-list-item-active {
  background-color: rgba(44, 45, 48, 0.3);
}
.play-btn {
  margin: 0rem 1rem;
  cursor: pointer;
}

.song-detail-container {
  flex: 1;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
