@import url('https://fonts.googleapis.com/css?family=Raleway|PT+Serif:700');
/* -------------- */
/* Reset */
/* -------------- */

/* Box Sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-font-color: #1a1a1a;
  --main-bg-color: white;
  --main-theme-color: rgb(243, 168, 47);
  --light-white: #f5f5f5;
  --light-gray: #ccc;
  --light-black: #282a39;
  --font-body-stack: Raleway, Charcoal, sans-serif;
  --font-heading-stack: 'PT Serif', sans-serif;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up body */

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Picture and Images width control */
picture,
img {
  max-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
