/* -------------- */
/* Reset */
/* -------------- */

/* Box Sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up body */

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
}

/* Picture and Images width control */
picture,
img {
  max-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main wrapper */

.main-wrapper {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.questions-wrapper {
  margin-top: 4rem;
}

.question-wrapper {
  border-bottom: 1px solid #666;
}
.question-wrapper:first-child {
  border-top: 1px solid #666;
}
.question-wrapper:last-child {
  border-bottom: none;
}
.question-wrapper .question {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.answer {
  text-align: left;
  transition: all 0.1s ease;
  height: 0;
  /* Hide it visually */
  opacity: 0;
  /* Make it unaccesible to mouse and keyboard  */
  pointer-events: none;
  /* Hide it from screen readers */
  visibility: hidden;
}
.answer-visible {
  display: block;
  height: auto;
  width: 100%;
  -webkit-transform: rotate(00deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  margin-bottom: 1rem;
  opacity: 1;
  visibility: visible;
}
#toggle-icon {
  cursor: pointer;
}
